<ng-container *ngIf="loadingService.isLoading$ | async">
  <div class="loading">
    <div class="loading-box">
      <h1>Aguarde</h1>
      <mat-progress-spinner class="example-margin" mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>
</ng-container>

<h1>{{title}}</h1>
<router-outlet></router-outlet>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Agenda">
    <app-agendamento-list [agendamento]="agendamento" [agendamentos]="agendamentoList" (filtra)="getAgendamento($event)" ></app-agendamento-list>
  </mat-tab>
  <mat-tab label="Agendamento">
    <app-agendamento-cadastro [agendamento]="agendamento">
    </app-agendamento-cadastro>
  </mat-tab>
</mat-tab-group>